/* * {
    box-sizing: border-box;

} */

.nav-container {
    /* max-width: 1440px; */
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 100%;
    background-color: #0984e3;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.link-nav-container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5px 20px;
    height: 100%;
    text-decoration: none;
}

.link-nav {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 3px solid white;
    background-color: rgb(0 0 0 / 10%);
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
    cursor: pointer;
}

.link-nav:hover {
    border: none;
}

.user-container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 20px;
    height: 100%;
}

.span-nav-name {
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

.icon-user-login {
    width: 80px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.button-logout-container {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: flex-end;
}

.button-logout {
    background-color: rgb(0 0 0 / 10%);
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

